[ng-cloak] {
  display: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
}

msl-slides > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.key {
  background: rgba(0, 0, 0, 0.125);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: 10px;
  vertical-align: middle;
  cursor: not-allowed;
}

a {
  color: #337ab7;
}

code {
  display: block;
  text-align: justify;
  background: rgba(216, 216, 216, 0.25);
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}
